{% extends 'base.html' %}

{% block content %}
    <h1>Meefx Sports</h1>

    <h5>Name: {{ name }}</h5>
    <h5>NPM: {{ NPM }}</h5>
    <h5>Class: {{ class }}</h5>

    <h4>Kamu menyimpan {{ items_count }} item pada aplikasi ini</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a href="{% url 'main:increment_item' item.id %}">
                        <button>
                            Tambah
                        </button>
                    </a>
                    <a href="{% url 'main:decrement_item' item.id %}">
                        <button>
                            Kurang
                        </button>
                    </a>
                    <a href="{% url 'main:delete_item' item.id %}">
                        <button>
                            Hapus
                        </button>
                    </a>
                </td>                
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}