{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MeefxSports</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#CardView">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#TableView">Table View</a>
            </li>
        </ul>
        <a href="{% url 'main:logout' %}">
        <button class="btn btn-outline-danger">
            Logout
        </button>
        </a>
    </div>
    </div>
  </nav>

    <div class="container mt-3">
        <div id="home"></div>
        <h1>Meefx Sports</h1>
    
        <h5>Name: {{ name }}</h5>
        <h5>NPM: {{ NPM }}</h5>
        <h5>Class: {{ class }}</h5>
    
        <h6>Kamu menyimpan {{ items_count }} item pada aplikasi ini</h4>
        
        <div id="CardView"></div>
        <div class="container mt-3">
            <h2>Card View</h2>
            {% for item in items %}
                <div class="mx-auto m-4">
                    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="card-header" style="background-color: rgb(198, 232, 229);">
                        {{item.name}}
                        </div>
                        <div class="card-body">
                        <p class="card-text">Amount: {{item.amount}}</h5>
                        <p class="card-text">Description: {{item.description}}</p>
                        <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'main:delete_item' item.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div id="TableView"></div>
        <div class="container mt-5">
            <h2>Table View</h2>
            <table class="table table-striped table-bordered mt-3">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
            
                {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
            
                {% for item in items %}
                    
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="{% url 'main:increment_item' item.id %}" class="btn btn-success btn-sm">
                                    <button class="btn btn-success btn-sm">
                                        Tambah
                                    </button>
                                </a>
                                <a href="{% url 'main:decrement_item' item.id %}" class="btn btn-warning btn-sm">
                                    <button class="btn btn-warning btn-sm">
                                        Kurang
                                    </button>
                                </a>
                                <a href="{% url 'main:delete_item' item.id %}" class="btn btn-danger btn-sm">
                                    <button class="btn btn-danger btn-sm">
                                        Hapus
                                    </button>
                                </a>
                            </div>
                        </td>                
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <br />
        
        <a href="{% url 'main:create_item' %}">
            <button class="btn btn-primary">
                Add New Item
            </button>
        </a>
    
        <h6 class="text-center">Sesi terakhir login: {{ last_login }}</h6>
    </div>

{% endblock content %}